*{
    /*border:1px solid red;*/
    margin:0%;    
}

/* *{
    border: 1px solid black;
} */

.navbar{
    background-color:white;
    box-shadow: 2px 3px 20px rgb(207,205,205);
    padding: 10px;
    /* position:static; */
    /* position: sticky; */
     position: fixed;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
    width:100vw;
    top:0px 
}

.navbar a {
    color: black;
    text-decoration: none;
    /* margin: 2.5%; */
    
}

.navbar a:hover{
    border: 1px solid white;
}

.navbar a:active{
    background-color: gold;
}
/* .navbar button{
    border-radius: 15%;
    padding: 5px;
    background-color: navy;
    color: white;
}  */

.hi img{
    margin-top: 80px;
    margin-left: 330px;

}

/* .parent{
    display: flex;
    flex-direction: row;
    
   
}

.child{
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin-left: -10%;
    
} */

.sec1{
    display:flex;
    margin-top: 1%;
}

.parent{
    margin-left: 10%;
    border:1px solid greenyellow;
    width: 800px;
    height: 250px;
    border-radius: 30px;
   
}
.parent h5{
    width: 500px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.child{
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    height: 150px;
    gap: 40px;
    margin-left: 20px;
    margin-top: 20px;

}

/* .child img{
    width: 60px;
    height: 55px;

} */

.child div:hover{
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 3px 20px rgb(207,205,205);
    width: 180px;
    height: 100px;
    

}

.child div{
    padding: 15px;
}


.child span{
    display: flex;
    flex-direction: column;

}



.c1 img{
    width: 50px;
    height: 50px;
}
.c2 img{
    width: 50px;
    height: 50px;
}
.c3 img{
    width: 50px;
    height: 50px;
}
.c4 img{
    width: 50px;
    height: 50px;
}
.c5 img{
    width: 50px;
    height: 50px;
}
.c6 img{
    width: 50px;
    height: 50px;
}

.div2 img{
    margin-left: 5%;
}

.d1 img{
     width: 550px;
    margin-right: 30px;
    margin-top: 3%;
     
    

}
.div{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: center;
    padding: 10px;
    

}
.d4 img{
     width: 350px;
    margin-right: 30px;
    margin-top: 1%;
    border-radius: 20px; 
    

}
.div4{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: center;
    padding: 20px;
    

}

.div3{
    display: flex;
    flex-direction: row;
    
    
}

.d6 img{
    width: 150px;
    height: 150px;
    margin-left: 420%;
    margin-top: -10%;
}

.d5 img{
    width: 40px;
    height: 40px;
    margin-top: 20%;
    
}

.d5{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.d5 span{
    margin-left: 10%;
}
.sec2{
    background-color: rgb(213, 248, 252);
    height: 320px;
}
.i{
    margin-top: -1%;
}

.i span{
    margin-left: 2%;
}
.i2{
    margin-top: 1.5%; 
}

.i3{
    margin-top: 1%; 
}

.div5{
    border: 1px solid gray;
    background-color: white;
    
    height: 200px;
    margin-top: -3%;
    margin-left: 9.5%;
    margin-right: 13.5%;
    border-radius: 20px;
}
.radio{
    padding: 20px;
    gap: 50px;
    display: flex;
    flex-direction: row;
}
.radio span{
    font-size: medium;
    font-weight: 500;
    
}

input[type="radio"]{
    scale:1.2;
}
.up{
    display: flex;
    flex-direction: row;
    margin-top: -9%;
    margin-left: 11%;
    gap: 8%;
}
.down{
    display: flex;
    flex-direction: row;
    margin-left: 11%;
    gap: 5%;
}
.down img{
     width: 25px;
    height: 25px;
}

.up1{
    margin-left: 5%;
}
.up2{
    margin-left: 3%;
    
}
.up3{
    margin-left: -6%;
}
.up5{
    margin-left: -6%;
}

.up7{
    margin-left: -7%;
}
.up h6{
    font-size: 300%;
    font-weight: 100;
    color: gray;

}
.up h5{
    color: gray;
    font-weight: 100;
}
.do1{
    margin-top: -2.5%;

}
.do2{
    margin-top: -2.5%;

}


.do3{
    margin-top: -2.5%;

}
.do4{
    margin-top: -2.5%;

}
.do5{
    margin-top: -2.5%;

}
.side{
    border: 1px solid #00d0ff;
    width: 150px;
    height: 50px;
    margin-left: 75%;
    margin-top: -4%;
    background-color: hsl(195, 100%, 50%);
    border-radius: 10px;
    color: white;
}

hr{
    margin-top: 1%;
    width: 77%;
    margin-left: 9.5%;
}
.low span{
    display: flex;
    flex-direction: row;
    gap: 0.5%;
    color: rgb(0, 128, 70);
}
.low img{
    width: 15px;
    height: 15px;
    color: rgb(0, 128, 70);
}

.low{
    margin-left: 11%;
    margin-top: 1%;
    color: gray;
}
.box{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    margin-left: 23%;
    margin-top: -3.5%;
    font-size: 14px;

}


.box span{
    display: flex;
    flex-direction: row;
    color: gray;
    font-size: 12px;
}
.box1{
    border: 1px solid gray;
    width: 100px;
    height: 47px;
    border-radius: 5px;
    
  
}

.box2{
    border: 1px solid gray;
    width: 100px;
    height: 47px;
    border-radius: 5px;
    

}
.box3{
    border: 1px solid gray;
    width: 100px;
    height: 47px;
    border-radius: 5px;
    
}

.sec3{
    display: flex;
    flex-direction: row;
}
.pic1 img{
    width: 600px;
    height: 600px;
    margin-left: 10%;
    
}
.pic img{
    width: 170px;
    margin-top: 25%;
    margin-left: 20%;


}
.sec3{
    border: 1px solid black;
    width: 1110px;
    height: 600px;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 1%;
}
.mat{
    font-size: 270%;
    font-weight: bold;
    margin-left: 20%; 
    width: 400px;  
    margin-top: 3%;
}
.mat1{
    font-size: 130%;
    margin-left: 20%;
    width: 450px;
    margin-top: 5%;

}
.sh{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    gap: 15px;

    
}

.sh img{
    margin-left: -640%;
    width: 150px;
    margin-top: 300%;
}

.div8{
    /* border: 1px solid black; */
    background-color: hsl(195, 100%, 50%);
    height: 70px;
    width: 1120px;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 100px;
}
.tm{
    /* border: 1px solid black; */
}
.tm img{
    width: 50px;
    height: 50px;
    margin-top: 1%;
    margin-left: 2%;
}
.tm1{
    margin-top: -3.5%;
    margin-left: 8%;
    font-size: 130%;
    font-weight: bold;
    color: white;
   
}
.tm2{
    border: 1.5px solid white;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    margin-left: 83%;
    margin-top: -2.5%;
    color: white;
    font-weight: bold;
}
.tm22{
    margin-top: 3%;
    margin-left: 15%;
}
.tk{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 2%;
    margin-left: 10%;
}
.tk1{
    border: 1px solid black; 
    width: 550px;
    height: 800px;
    border-radius: 20px;
    font-family: sans-serif;
    background-color: #e0f1f4;
    background-size: cover;
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/1725638720587.png");
}
.tk2{
    border: 1px solid black;
    width: 550px;
    height: 800px;
    border-radius: 20px;
    font-family: sans-serif;
    background-color: #f5fdff;
}

.bh1 img{
    width: 150px;
    margin-top: 12%;
    margin-left: 8%;
    

}
.bh2{
    font-size: 250%;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 1%;
}
.bh3{
    font-weight: bold;
    font-size: 250%;
    color: hsl(195, 100%, 50%);
    margin-left: 8%;

}
.bh4{
    font-size: 120%;
    margin-left: 8%;
    margin-top: 3%;
    
}
.mam{
    display: flex;
    flex-direction: row;
}
.mam2 img{
    width: 230px;
    margin-left: 8%;
    margin-top: 8.5%;

}
.mam1{
    border: 1px solid navy;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    color: navy;
    margin-left: 8%;
    margin-top: 4%;
}
.mam11{
    margin-left: 10%;
    margin-top: 4%;
}
.mam3 img{
    width: 570px;
    margin-top: 5%;
}

.an1 img{
    width: 150px;
    margin-top: 12%;
    margin-left: 8%;
    

}
.an2{
    font-size: 250%;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 1%;
}
.an3{
    font-weight: bold;
    font-size: 250%;
    color: hsl(195, 100%, 50%);
    margin-left: 8%;

}
.an4{
    font-size: 120%;
    margin-left: 8%;
    margin-top: 3%;
    
}

.sir1{
    border: 1px solid navy;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    color: navy;
    margin-left: 8%;
    margin-top: 4%;
}
.sir11{
    margin-left: 10%;
    margin-top: 4%;
}
.sir3 img{
    width: 570px;
    margin-top: 5%;
}

.div9{
    width: 1120px;
    height: 500px;
    border: 1px solid black;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 20px;
    background-size: cover;
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view/1752666927695.png");
}